textarea {
	resize: vertical;
}
#reactForm{
	border: 2px dashed rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
}
#reactForm h3{
	text-align: center;
	background-color: #afa;
	margin: 0;
	padding: 18px 0;
	border-radius: 20px 20px 0 0;
}



#formContainer {
	min-width: 400px;
	display: flex;
	flex-flow: column wrap;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0 0 5px 5px;

}
/*#formContainer > * {
	font-size: 16px;
	display: block;
	margin: 5px;
	padding: 5px;
	outline: none;
	max-width: 100%;
}*/
.posRel{
	position: relative;
}

div > input, div > textarea, div > select {
	font-size: 16px;
	display: block;
	margin: 5px;
	padding: 5px 5px 5px 30px;
	outline: none;
	width: 100%;
}

.icons {
	position: absolute;
	top: 12px;
	left: 15px;
}