textarea {
	resize: vertical;
}
#reactForm{
	display: flex;
	justify-content: center;
}
#reactForm h3{
	text-align: center;
	background-color: #afa;
	margin: 0;
	padding: 18px 0;
	border-radius: 20px 20px 0 0;
}


#formContainer{
	display: flex;
	flex-flow: column wrap;
	min-width: 400px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0 0 5px 5px;
	padding: 5px;
}

.posRel{
	position: relative;
	padding: 5px;
}


.posRel > input, .posRel > textarea, .posRel > select {
	font-size: 16px;
	padding: 5px 5px 5px 30px;
	display: block;
	outline: none;
	width: 100%;
}

.icons {
	position: absolute;
	top: 12px;
	left: 15px;
}

#submitForm{
	width: 25%;
	font-size: 16px;
	margin: 5px;
	border-radius: 3px;
	outline: none;
}
#submitForm:active{
	background-color: #ddd;
}